---
import MemberCard from '../components/MemberCard.astro';
import RChar from '../components/RandChar.astro';
import Layout from '../layouts/Layout.astro';
---


<Layout title="Factory team">

    <main class="flex justify-center m-8 p-8 border">
			<h1 class="text-white flex flex-row text-6xl font-mc font-bold"><RChar texto='1'/> Factory<RChar texto="l"></h1>
        <MemberCard />
    </main>
</Layout>