---
import MemberCard from '../components/MemberCard.astro';
import RChar from '../components/RandChar.astro';
import Layout from '../layouts/Layout.astro';
---


<Layout title="Factory team">

    <main class="flex w-full justify-center items-center mx-auto m-8 px-8 border flex-col">
			<h1 class="text-white flex flex-row text-6xl font-mc my-8 font-bold"><RChar texto='1'/> Factory<RChar texto="l"></h1>
            <div class="grid lg:grid-cols-4 gap-20">
                <MemberCard nick="Facuux_09" role="Lider" />
                <!-- <MemberCard nick="Tondrox" role="Administrador" /> -->
                <!-- <MemberCard nick="DrAlex99" role="Moderador" /> -->

                <MemberCard nick="Onasor" role="Miembro" />
                <MemberCard nick="ZzlFull5" role="Miembro" />
                <MemberCard nick="luzmila_MYT" role="Miembro"/>

                <MemberCard nick="lowwn" role="Miembro" />
            </div>

    </main>
</Layout>