---
interface Props{
  nick:string;
  role:string;
}
const { nick, role } = Astro.props;
---

<a href="#" class="bg-black/70 rounded-md overflow-hidden group">
  <div class="w-full h-auto overflow-hidden">
    <img
      src={`/images/${nick}.webp`}
      class="select-none group-hover:scale-150 group-hover:translate-y-20 sm:group-hover:scale-150 -z-10 transition-all sm:group-hover:translate-y-10 xs:group-hover:translate-y-16 xs:group-hover:scale-[1.55]"
      alt={`${nick} image`}
    />
  </div>
  <h3 class="font-mc h-full align-middle sm:text-xs lg:text-[14px] flex justify-between px-1 z-10 text-white">
    {nick} <span id="roleSpan" class="font-bold">{role}</span>
  </h3>
</a>