---
interface Props {
  texto: string;
}

const { texto } = Astro.props;
const characters = "il¡|!";
---
<astro-span-random data-texto={texto} data-characters={characters}>
  <span></span>
</astro-span-random>

<script>
  class AstroSpanRandom extends HTMLElement {
    constructor() {
      super();

      const characters = this.dataset.characters || "il¡|!";
      const texto = this.dataset.texto || '1';

      const randomChar = () => characters[Math.floor(Math.random() * characters.length)];

      const span = this.querySelector('span');
      if (span !== null) {
        let randomizedText = '';

        const updateText = () => {
          randomizedText = '';
          texto.split('').forEach((char) => {
            randomizedText += randomChar();
          });
          span.innerText = randomizedText;
        }

        setInterval(updateText, 40);
      }
    }
  }

  customElements.define('astro-span-random', AstroSpanRandom);
</script>


<style>
  span {
    display: flex;
    width: 25px;
    justify-content: center;
    color: #FF55FF;
    margin-inline: 4px;
  }
</style>
