---
import { ViewTransitions } from 'astro:transitions';
import RChar from '../components/RandChar.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Factory team" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions fallback='none'/>

	</head>
	<style is:global>
		@font-face {
			font-family: 'Minecraft';
			src: url('/fonts/minecraft.woff') format('woff');
		}
	</style>
	<body class="bg-black/90 ">
		<h1 class="text-white flex flex-row text-6xl mx-auto w-full justify-center font-mc my-2 font-bold"><RChar texto='1'/> Factory<RChar texto="l"></h1>

		<slot />
	</body>
</html>

